.board_container {
  position: relative;
  background-color: rgb(6, 131, 131);
  width: 50%;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper {
  position: relative;
}

.board_image {
  max-width: 140%;
}

.clickableZone {
  position: absolute;
  cursor: pointer;
  z-index: 99;
  background-color: rgba(100, 255, 255, 0.5);
}

.clickableZone div:hover {
  background-color: rgb(0, 89, 255);
}

@media screen and (max-width: 1200px) {
  .board_container {
    width: 50%;
    margin-left: 145px;
  }
}
